/* Pages */
@media screen and (min-width: 0px) {
  body.dark-mode .services .service {
    background: var(--darkPrimary);
  }
  body.dark-mode .services .service:nth-of-type(2) {
    background: var(--tint);
  }
  body.dark-mode .about:before {
    background: #0a0a0a;
  }
  body.dark-mode .about .left-section:before {
    background: var(--shade);
    opacity: 0.1;
  }
  body.dark-mode .about .right-section .topper {
    color: var(--shade);
  }
  body.dark-mode .about .right-section h2,
  body.dark-mode #aboutHeadline {
    color: #fff;
  }
  body.dark-mode .about .right-section h2:before {
    background: var(--shade);
    opacity: 0.1;
  }
  body.dark-mode .about .right-section h2 span {
    color: var(--shade);
  }
  body.dark-mode .about .right-section .decoration .line {
    background: var(--shade);
  }
  body.dark-mode .reviews .topper {
    color: var(--shade);
  }
  body.dark-mode .reviews h2 {
    color: #fff;
  }
  body.dark-mode .reviews .right-section .review {
    background: var(--tint);
  }
  body.dark-mode #footer {
    background: #0e0d0d;
  }
  body.dark-mode .aboutContent .content .topper {
    color: var(--shade);
  }
  body.dark-mode .aboutContent .content h2 {
    color: #fff;
  }
  body.dark-mode .aboutContent .content h2:before {
    background: var(--shade);
    opacity: 0.1;
  }
  body.dark-mode .aboutContent .content h2 span {
    color: var(--shade);
  }
  body.dark-mode .aboutContent .content .decoration .line {
    background: var(--shade);
  }
  body.dark-mode .staff h2 {
    color: #fff;
  }
  body.dark-mode .staff .member .title {
    color: #fff;
    opacity: 0.7;
  }
  body.dark-mode .form .topper {
    color: var(--shade);
  }
  body.dark-mode .form h2 {
    color: #fff;
  }
  body.dark-mode .form label {
    color: #fff;
  }
  body.dark-mode #contact ::placeholder {
    opacity: 0.3;
  }
  body.dark-mode .form .contact-right {
    background: var(--tint);
  }
  body.dark-mode .reviews .name,
  body.dark-mode #contact label,
  body.dark-mode #testimonialName {
    color: #fff;
  }
}
