/* /css/about.css */
/*-- -------------------------- -->
<---        Testimonials        -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0) {
  .reviews {
    padding-top: 1.75em;
    padding-bottom: 7.5em;
  }
  .reviews h2,
  .reviews .yellow-span {
    display: block;
    text-align: center;
  }
  .reviews .stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 7.5em;
  }
  .reviews .stars:first-of-type {
    margin-top: 3.75em;
  }
  .reviews .stars img {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
  }
  .reviews p {
    text-align: center;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
  .reviews .name {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 2.77777778em;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .reviews .name:before {
    content: '';
    position: absolute;
    display: block;
    height: 2.22222222em;
    width: 2.22222222em;
    border-radius: 50%;
    background: var(--primary);
    opacity: 0.2;
    z-index: -1;
  }
}
/* Small Desktop */
@media only screen and (min-width: 1024px) {
  .reviews {
    padding: 0px 0 5em;
  }
  .reviews .stars {
    margin-top: 7.5em;
  }
  .reviews p {
    width: 35em;
    margin: auto;
  }
}
